 .skyblue{
    background-color: rgb(156, 98, 11);
    color: black;
    margin: 0;
}
.card{
    margin-top: 80px;
    margin-left: 190px;
}
.caard{
    margin-top: 80px;
    margin-left: 80px;
}
.ht{
    height: 100px;
    width: 100px;
}
*{
    background-color: blanchedalmond;
}